
@{
    ViewBag.Title = "Upload File";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section scripts
{
    <script src="~/Scripts/knockout-3.4.0.js"></script>
    <script src="~/Scripts/knockout.mapping-latest.js"></script>
    <script src="~/Scripts/Custom/UploadAlbumViewModel.js"></script>
    <script src="~/Scripts/jquery.bootstrap.wizard.min.js"></script>
    <script src="~/Scripts/jquery.validate.min.js"></script>
    <script src="~/Scripts/Custom/WizardValidator.js"></script>
    <script type="text/javascript">
        $(function () {
            var jsonModel = null;

            ko.applyBindings(new UploadAlbumViewModel(
                "@Url.Action("UploadFilePost", "Upload")",
                "dropbox",
                "@Url.Content("~/Content/images / musicNote.png")",
                ["wav", "zip"],
                jsonModel), document.getElementById("fileUploadContainer"));
        })
    </script>
}

<div class="row">
    <div id="fileUploadContainer">
        <div id="wizard">
            <form method="post" action="UploadForm" id="commentForm">
                <div class="navbar">
                    <div class="navbar-inner">
                        <div class="container">
                            <button class="btn btn-danger pull-right" data-bind="click: uploadAlbum">SAVE</button>
                            <!-- Tabstrip -->
                            <ul class="nav nav-tabs" role="tablist">
                                <li role="presentation" class="active">
                                    <a href="#basic" role="tab" data-toggle="tab">Basic details</a>
                                </li>
                                <li role="presentation">
                                    <a href="#tracks" role="tab" data-toggle="tab">Tracks</a>
                                </li>
                                <li role="presentation">
                                    <a href="#release" role="tab" data-toggle="tab">Release</a>
                                </li>
                                <li role="presentation">
                                    <a href="#cover" role="tab" data-toggle="tab">Cover</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div id="bar" class="progress progress-info progress-striped">
                    <div class="progress-bar" role="progressbar" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100" style="width: 0%;"></div>
                </div>
                <!-- Tab panes -->
                <div class="tab-content">
                    <div role="tabpanel" class="tab-pane active" id="basic">
                        <div class="form-group row">
                            <label class="col-lg-1 col-md-2 col-sm-2 col-xs-2 col-form-label">Language:</label>
                            <div class="col-lg-4 col-md-4 col-sm-6 col-xs-7">
                                <select class="form-control" name="language" data-bind="value: selectedLanguage, options: languages, optionsValue: 'ID', optionsText: function(i) {return i.LanguageName}, optionsCaption: 'Choose language'"></select>
                            </div>
                        </div>
                        <div class="form-group row">
                            <label class="col-lg-1 col-md-2 col-sm-2 col-xs-2 col-form-label">Title:</label>
                            <div class="col-lg-4 col-md-4 col-sm-6 col-xs-7">
                                <input class="form-control" type="text" name="title" data-bind="value: title">
                            </div>
                        </div>
                        <div class="form-group row">
                            <label class="col-lg-1 col-md-2 col-sm-2 col-xs-2 col-form-label">Version:</label>
                            <div class="col-lg-4 col-md-4 col-sm-6 col-xs-7">
                                <input class="form-control" type="text" name="version" data-bind="value: version">
                            </div>
                        </div>
                        <div class="form-group row">
                            <label class="col-lg-1 col-md-2 col-sm-2 col-xs-2 col-form-label">Artists:</label>
                            <hr>
                        </div>
                        <div data-bind="foreach: artists">
                            <div class="form-group row">
                                <label class="col-lg-1 col-md-2 col-sm-2 col-xs-2 col-form-label">Role:</label>
                                <div class="col-lg-4 col-md-4 col-sm-6 col-xs-7">
                                    <select class="form-control" name="artistRole" data-bind="value: selectedRole, options: roles, optionsValue: 'ID', optionsText: function(i) {return i.RoleName}, optionsCaption: 'Choose Role'"></select>
                                </div>
                                <div class="col-lg-1">
                                    <button class="btn" data-bind="click: removeArtist, visible: canBeDeleted">Remove</button>
                                </div>
                            </div>
                            <div class="form-group row">
                                <label class="col-lg-1 col-md-2 col-sm-2 col-xs-2 col-form-label">Name:</label>
                                <div class="col-lg-4 col-md-4 col-sm-6 col-xs-7">
                                    <input class="form-control" name="artistName" type="text" data-bind="value: artistName">
                                </div>
                            </div>
                        </div>
                        <div class="form-group row">
                            <button id="addArtistBasic" class="btn btn-default" data-bind="click: addNewArtist">Add new artist</button>
                        </div>
                        <div class="form-group row">
                            <label class="col-lg-1 col-md-2 col-sm-2 col-xs-2 col-form-label">Genre:</label>
                            <div class="col-lg-4 col-md-4 col-sm-6 col-xs-7">
                                <select class="form-control" name="mainGenre" data-bind="value: selectedMainGenre, options: mainGenres, optionsValue: 'ID', optionsText: function(i) {return i.GenreName}, optionsCaption: 'Choose genre'"></select>
                            </div>
                        </div>
                        <div class="form-group row">
                            <label class="col-lg-1 col-md-2 col-sm-2 col-xs-2 col-form-label">Sub genre:</label>
                            <div class="col-lg-4 col-md-4 col-sm-6 col-xs-7">
                                <select class="form-control" name="subGenre" data-bind="value: selectedSubGenre, options: subGenres, optionsValue: 'ID', optionsText: function(i) {return i.GenreName}, optionsCaption: 'Choose subgenre'"></select>
                            </div>
                        </div>
                        <!-- Input fields -->
                    </div>
                    <div role="tabpanel" class="tab-pane" id="tracks">
                        <div class="row">
                            <div class="col-lg-12">
                                <div id="dropbox" dropzone="copy f:application/vnd.openxmlformats-officedocument.spreadsheetml.sheet f:application/vnd.ms-excel" class="hero-unit">
                                    <h2 id="droplabel">Drop zone - Drag & Drop your music here</h2>
                                    <p id="dnd-notes">Only wav file types are supported. Once you drop your files in the dropzone, the upload will start.</p>
                                    <p>Or you can click to browse for audio file</p>
                                    <input type="file" data-bind="event:{change: onFileSelect}" />
                                </div>
                            </div>
                        </div>
                        <div data-bind="foreach: trackList">
                            <input data-bind="value: trackID" class="hidden" />
                            <div class="progress progress-info progress-striped">
                                <div class="progress-bar" data-bind="style: { width: uploadPercentage }"></div>
                            </div>
                            <div class="row">
                                <button data-bind="click: deleteFile">Delete track</button>
                            </div>
                            <div class="form-group row">
                                <label class="col-lg-1 col-md-2 col-sm-2 col-xs-2 col-form-label">Track title:</label>
                                <div class="col-lg-4 col-md-4 col-sm-6 col-xs-7">
                                    <input class="form-control" name="trackName" type="text" data-bind="value: trackName">
                                </div>
                            </div>
                            <div class="form-group row">
                                <label class="col-lg-1 col-md-2 col-sm-2 col-xs-2 col-form-label">ISRC:</label>
                                <div class="col-lg-4 col-md-4 col-sm-6 col-xs-7">
                                    <input class="form-control" name="ISRC" type="text" data-bind="value: ISRC">
                                </div>
                            </div>
                            <div class="form-group row">
                                <label class="col-lg-1 col-md-2 col-sm-2 col-xs-2 col-form-label">Version:</label>
                                <div class="col-lg-4 col-md-4 col-sm-6 col-xs-7">
                                    <input class="form-control" name="version" type="text" data-bind="value: version">
                                </div>
                            </div>
                            <div class="form-group row">
                                <label class="col-lg-1 col-md-2 col-sm-2 col-xs-2 col-form-label">Copyright Year:</label>
                                <div class="col-lg-4 col-md-4 col-sm-6 col-xs-7">
                                    <select class="form-control" name="copyRightYear" data-bind="value: selectedCopyRightYear, options: copyRightYears, optionsValue: 'ID', optionsText: function(i) {return i.OnlyYear}, optionsCaption: 'Choose CopyrightYear'"></select>
                                </div>
                            </div>
                            <div class="form-group row">
                                <label class="col-lg-1 col-md-2 col-sm-2 col-xs-2 col-form-label">Copyright Holder:</label>
                                <div class="col-lg-4 col-md-4 col-sm-6 col-xs-7">
                                    <input class="form-control" name="copyRightHolder" type="text" data-bind="value: copyRightHolder">
                                </div>
                            </div>
                            <div class="form-group row">
                                <label class="col-lg-1 col-md-2 col-sm-2 col-xs-2 col-form-label">Artist:</label>
                                <div class="col-lg-4 col-md-4 col-sm-6 col-xs-7">
                                    <input class="form-control" name="trackArtist" type="text" data-bind="value: trackArtist">
                                </div>
                            </div>
                            <div data-bind="foreach: artists">
                                <div class="form-group row">
                                    <label class="col-lg-1 col-md-2 col-sm-2 col-xs-2 col-form-label">Role:</label>
                                    <div class="col-lg-4 col-md-4 col-sm-6 col-xs-7">
                                        <select class="form-control" name="artistRole" data-bind="value: selectedRole, options: roles, optionsValue: 'ID', optionsText: function(i) {return i.RoleName}, optionsCaption: 'Choose Role'"></select>
                                    </div>
                                    <div class="col-lg-1">
                                        <button class="btn" data-bind="click: removeArtist, visible: canBeDeleted">Remove</button>
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <label class="col-lg-1 col-md-2 col-sm-2 col-xs-2 col-form-label">Name:</label>
                                    <div class="col-lg-4 col-md-4 col-sm-6 col-xs-7">
                                        <input class="form-control" name="artistName" type="text" data-bind="value: artistName">
                                    </div>
                                </div>
                            </div>
                            <div class="form-group row">
                                <button id="addArtistBasic" class="btn btn-default" data-bind="click: addNewArtist">Add new artist</button>
                            </div>
                            <div class="form-group row">
                                <label class="col-lg-1 col-md-2 col-sm-2 col-xs-2 col-form-label">Name:</label>
                                <div class="col-lg-4 col-md-4 col-sm-6 col-xs-7">
                                    <select class="form-control" name="publisherName" data-bind="value: selectedPublisher, options: publishers, optionsValue: 'ID', optionsText: function(i) {return i.PublisherName}, optionsCaption: 'Choose Publisher'"></select>
                                </div>
                            </div>
                            <div data-bind="foreach: contributors">
                                <div class="form-group row">
                                    <label class="col-lg-1 col-md-2 col-sm-2 col-xs-2 col-form-label">Role:</label>
                                    <div class="col-lg-4 col-md-4 col-sm-6 col-xs-7">
                                        <select class="form-control" name="contributorRole" data-bind="value: selectedRole, options: roles, optionsValue: 'ID', optionsText: function(i) {return i.RoleName}, optionsCaption: 'Choose Role'"></select>
                                    </div>
                                    <div class="col-lg-1">
                                        <button class="btn" data-bind="click: removeContributor, visible: canBeDeleted">Remove</button>
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <label class="col-lg-1 col-md-2 col-sm-2 col-xs-2 col-form-label">Name:</label>
                                    <div class="col-lg-4 col-md-4 col-sm-6 col-xs-7">
                                        <input class="form-control" name="contributorName" type="text" data-bind="value: contributorName">
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <label class="col-lg-1 col-md-2 col-sm-2 col-xs-2 col-form-label">Publisher:</label>
                                    <div class="col-lg-4 col-md-4 col-sm-6 col-xs-7">
                                        <select class="form-control" name="publisher" data-bind="value: selectedPublisher, options: publishers, optionsValue: 'ID', optionsText: function(i) {return i.PublisherName}, optionsCaption: 'Choose Publisher'"></select>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group row">
                                <label class="col-lg-1 col-md-2 col-sm-2 col-xs-2 col-form-label">Cover version:</label>
                                <div class="col-lg-4 col-md-4 col-sm-6 col-xs-7">
                                    <input type="checkbox" data-bind="checked: coverVersion" />
                                </div>
                            </div>
                            <div class="form-group row">
                                <label class="col-lg-1 col-md-2 col-sm-2 col-xs-2 col-form-label">Explicit Content:</label>
                                <div class="col-lg-4 col-md-4 col-sm-6 col-xs-7">
                                    <input type="checkbox" data-bind="checked: explicitContent">
                                </div>
                            </div>
                            <div class="form-group row">
                                <label class="col-lg-1 col-md-2 col-sm-2 col-xs-2 col-form-label">Live version:</label>
                                <div class="col-lg-4 col-md-4 col-sm-6 col-xs-7">
                                    <input type="checkbox" data-bind="checked: liveVersion">
                                </div>
                            </div>
                            <div class="form-group row">
                                <label class="col-lg-1 col-md-2 col-sm-2 col-xs-2 col-form-label">Medley:</label>
                                <div class="col-lg-4 col-md-4 col-sm-6 col-xs-7">
                                    <input type="checkbox" data-bind="checked: medley">
                                </div>
                            </div>
                            <!-- Input fields -->
                        </div>
                    </div>
                    <div role="tabpanel" class="tab-pane" id="release">
                        <div class="form-group row">
                            <label class="col-lg-1 col-md-2 col-sm-2 col-xs-2 col-form-label">Label name:</label>
                            <div class="col-lg-4 col-md-4 col-sm-6 col-xs-7">
                                <input class="form-control" name="labelName" type="text" data-bind="value: labelName">
                            </div>
                        </div>
                        <div class="form-group row">
                            <label class="col-lg-1 col-md-2 col-sm-2 col-xs-2 col-form-label">Catalogue number:</label>
                            <div class="col-lg-4 col-md-4 col-sm-6 col-xs-7">
                                <input class="form-control" name="catalogueNumber" type="text" data-bind="value: catalogueNumber">
                            </div>
                        </div>
                        <div class="form-group row">
                            <label class="col-lg-1 col-md-2 col-sm-2 col-xs-2 col-form-label">Barcode:</label>
                            <div class="col-lg-4 col-md-4 col-sm-6 col-xs-7">
                                <input class="form-control" name="barcode" type="text" data-bind="value: barcode">
                            </div>
                        </div>
                        <div class="form-group row">
                            <label class="col-lg-1 col-md-2 col-sm-2 col-xs-2 col-form-label">Copyright Year:</label>
                            <div class="col-lg-4 col-md-4 col-sm-6 col-xs-7">
                                <select class="form-control" name="copyRightYear" data-bind="value: selectedCopyRightYear, options: copyRightYears, optionsValue: 'ID', optionsText: function(i) {return i.OnlyYear}, optionsCaption: 'Choose CopyrightYear'"></select>
                            </div>
                        </div>
                        <div class="form-group row">
                            <label class="col-lg-1 col-md-2 col-sm-2 col-xs-2 col-form-label">Copyright recording:</label>
                            <div class="col-lg-4 col-md-4 col-sm-6 col-xs-7">
                                <input class="form-control" name="copyRightRecording" type="text" data-bind="value: copyRightRecording">
                            </div>
                        </div>
                        <div class="form-group row">
                            <label class="col-lg-1 col-md-2 col-sm-2 col-xs-2 col-form-label">Original release:</label>
                            <div class="col-lg-4 col-md-4 col-sm-6 col-xs-7">
                                <input class="form-control" name="originalRelease" type="date" data-bind="value: originalRelease">
                            </div>
                        </div>
                        <div class="form-group row">
                            <label class="col-lg-1 col-md-2 col-sm-2 col-xs-2 col-form-label">Digital release:</label>
                            <div class="col-lg-4 col-md-4 col-sm-6 col-xs-7">
                                <input class="form-control" name="digitalReleaseDate" type="date" data-bind="value: digitalReleaseDate">
                            </div>
                        </div>
                        <!-- Input fields -->
                    </div>
                    <div role="tabpanel" class="tab-pane" id="cover">
                        <input data-bind="value: coverID" class="hidden" />
                        <div class="form-group row">
                            <label class="col-lg-1 col-md-2 col-sm-2 col-xs-2 col-form-label">Artist:</label>
                            <div class="col-lg-4 col-md-4 col-sm-6 col-xs-7">
                                <input class="form-control" name="artistName" type="text" data-bind="value: artistName">
                            </div>
                        </div>
                        <div class="form-group row">
                            <label class="col-lg-1 col-md-2 col-sm-2 col-xs-2 col-form-label">Copyright artwork year:</label>
                            <div class="col-lg-4 col-md-4 col-sm-6 col-xs-7">
                                <input class="form-control" name="copyrightArtworkYear" type="text" data-bind="value: copyrightArtworkYear">
                            </div>
                        </div>
                        <!-- Input fields -->
                    </div>

                    <ul class="pager wizard">
                        <li class="previous first" style="display: none;"><a href="javascript:;">First</a></li>
                        <li class="previous"><a href="javascript:;">Back</a></li>
                        <li class="next last" style="display: none;"><a href="javascript:;">Last</a></li>
                        <li class="next"><a href="javascript:;">Next</a></li>
                        <li class="finish"><a href="javascript:;">Finish</a></li>
                    </ul>
                </div>
            </form>
        </div>
        <br />
    </div>
</div>
