<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="DDEX.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="DDEX.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
    <userSettings>
        <DDEX.Properties.Settings>
            <setting name="NavigationFolderPath" serializeAs="String">
                <value>C:\temp\DDEX\soundcloud</value>
            </setting>
        </DDEX.Properties.Settings>
    </userSettings>
    <applicationSettings>
        <DDEX.Properties.Settings>
            <setting name="PLineText" serializeAs="String">
                <value>(P) 2016 LONGPLAY</value>
            </setting>
            <setting name="LabelName" serializeAs="String">
                <value>LONGPLAY</value>
            </setting>
            <setting name="IndirectContributors" serializeAs="String">
                <value>Composer;Producer;Lyricist;Arranger</value>
            </setting>
            <setting name="DisplayArtistRoles" serializeAs="String">
                <value>FeaturedArtist</value>
            </setting>
            <setting name="DeezerRecipientPartyID" serializeAs="String">
                <value>PADPIDA2011021513H</value>
            </setting>
            <setting name="DeezerRecipientPartyName" serializeAs="String">
                <value>DEEZER</value>
            </setting>
            <setting name="SenderPartyName" serializeAs="String">
                <value>LONGPLAY</value>
            </setting>
            <setting name="SenderPartyID" serializeAs="String">
                <value>PADPIDA20160517080</value>
            </setting>
            <setting name="PandoraRecipientPartyID" serializeAs="String">
                <value>PADPIDA20140404055</value>
            </setting>
            <setting name="PandoraRecipientPartyName" serializeAs="String">
                <value>PANDORA</value>
            </setting>
            <setting name="SoundCloudRecipientPartyID" serializeAs="String">
                <value>PADPIDA20121010037</value>
            </setting>
            <setting name="SoundCloudRecipientPartyName" serializeAs="String">
                <value>SOUNDCLOUD</value>
            </setting>
            <setting name="ShowExceptionStackTrace" serializeAs="String">
                <value>True</value>
            </setting>
        </DDEX.Properties.Settings>
    </applicationSettings>
</configuration>